@{
    ViewBag.Title = "Feedback Submitted Successfully";
}

<h2>Feedback submitted successfully!</h2>

@Html.ActionLink("Back to List", "Index", "UserMainPage", null, new { @class = "btn btn-default" })
